<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/solid.css">
  <link rel="stylesheet" href="/css/regular.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>EOS Emergency</title>
  <meta name="description" content="EOS Emergency"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-12">
      {{#eq path "/"}}
        {{> login-form}}
      {{/eq}}
    </div>
  </div>
</div>

</body>
</html>